/* header stuff */
header {
    background-color: black;
    text-align: center;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 48px;
    width: 100vw;
    z-index: 1000;
}

#header-title {
    position: relative;
    top: 0%;
    height: 100%;
    margin: auto;
    color: white;
    align-content: center;
    background-color: black;
}

#header-list {
    display: flex;
    height: auto;
    margin: auto;
    padding: 0%;
}

.header-item {
    color: white;
    background-color: black;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 5px;
    display: flex;
}
