/* hover with white underline */
.hover-text {
    display: inline-block;
    position: relative;
}

.hover-text:after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0px;
    left: 10%;
    border-radius: 1px;
    background-color: white;
    transform-origin: center;
    transition: transform 0.1s ease-out;
}

.hover-text:hover:after {
    transform: scaleX(1);
    transform-origin: center;
}
