/* sections */
section {
	display: block;
	background-color: white;
	width: 60vw;
	padding: 10px;
	border-radius: 10px;
	margin: 0px auto;
	height: 1000px;
	z-index: 1;
	filter: drop-shadow(2px 2px 4px #000000);
	color: black;
}
