@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-atkinson);
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  overflow-x: hidden;
  @apply text-black dark:text-white transition-colors duration-200;
}

section {
    display: block;
    padding: 12px;
    /* border-radius: 12px; */
    margin: 48px auto;
    z-index: 1;
    filter: drop-shadow(2px 2px 4px #000000);
}

code {
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
}
