@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
    font-family: "Atkinson Hyperlegible", serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    position: absolute; 
    top: 0px;
    left: 0px;
}

h2 {
    margin-block-start: 0px;
    margin-block-end: 10px;
}

a {
    text-decoration: none;
}

section {
    display: block;
    padding: 12px;
    border-radius: 12px;
    margin: 48px auto;
    z-index: 1;
    filter: drop-shadow(2px 2px 4px #000000);
}

.color-change {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-duration: 200ms;
}
